{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <h1 class="p-3 text-center bg-primary text-white">Category index</h1>

    <nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-center mt-3">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="{{ path('article_index') }}">Home</a>
      <a class="nav-item nav-link" href="{{ path('category_index') }}">Categories</a>
    </div>
    </nav>

    <div class="m-4">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{{ path('category_show', {'id': category.id}) }}" class="m-1 btn btn-primary" role="button">show</a>
                    <a href="{{ path('category_edit', {'id': category.id}) }}" class="m-1 btn btn-primary" role="button">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    <a href="{{ path('category_new') }}" class="m-4 btn btn-primary" role="button">Create new</a>
{% endblock %}
