{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1 class="p-3 text-center bg-primary text-white">Category</h1>

    <div class="m-4">
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ category.name }}</td>
            </tr>
        </tbody>
    </table>
    </div>

    <div class="d-flex">
    <a href="{{ path('category_index') }}" class="m-4 btn btn-primary" role="button">back to list</a>

    <a href="{{ path('category_edit', {'id': category.id}) }}" class="m-4 btn btn-primary" role="button">edit</a>

    {{ include('category/_delete_form.html.twig') }}
    </div>
{% endblock %}
