{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1 class="p-3 text-center bg-primary text-white">Article</h1>

    <div class="m-4">
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ article.content }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>
                    {% if article.Category.name is defined %}
                        {{ article.Category.name }}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
    </div>

    <div class="d-flex">
    <a href="{{ path('article_index') }}" class="m-4 btn btn-primary" role="button">back to list</a>

    <a href="{{ path('article_edit', {'id': article.id}) }}" class="m-4 btn btn-primary" role="button">edit</a>

    {{ include('article/_delete_form.html.twig') }}
    </div>
{% endblock %}
